/Common.Core/.vs
/Common.Core/Common.Core/obj
/Common.Core/CommonCore.Testing/obj
/Common.Core/EFDataCoreDomain/bin
/Common.Core/EFDataCoreDomain/obj
/Common.Core/Common.Core/bin
/Common.Core/CommonCore.Testing/bin
/Common.Core/RedisDataCoreDomain/obj
/Common.Core/RedisDataCoreDomain/bin/Debug/netcoreapp2.0
